.container {
  background-color: var(--brandprimary);
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 50px;
  padding: 20px 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.button {
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
  width: 36px;
  height: 36px;
  cursor: pointer;
}
.buttonTransparent {
  border: none;
  border-radius: 8px;
  background: transparent;
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.buttonTransparent.active {
  background: rgba(255, 255, 255, 0.2);
}
.item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
